<h3>Why you should buy in our store?</h3>
<br>
<ul class="list-group list-group-flush list_container">
  <li class="list_reasons"><mat-icon class="icon">attach_money</mat-icon> CHEAPEST PRICES !</li>
  <li class="list_reasons"><mat-icon class="icon">eco</mat-icon> FRESH PRODUCTS</li>
  <li class="list_reasons"><mat-icon class="icon">local_shipping</mat-icon> FAST DELIVERY</li>  
  <li class="list_reasons"><mat-icon class="icon">alarm_on</mat-icon> SAVE YOUR TIME</li>
  <li class="list_reasons"><mat-icon class="icon">backspace</mat-icon> EASIER TO RETURN GOODS AND CANCEL ORDERS</li>
  <li class="list_reasons"><mat-icon class="icon">payment</mat-icon> EASIEST PAYMENT METHODS</li>
  <li class="list_reasons"><mat-icon class="icon">security</mat-icon> SECURE PAYMENTS</li>
  <li class="list_reasons"><mat-icon class="icon">local_offer</mat-icon> DISCOUNTS AND SALES !</li>
</ul>
<img src="assets/images/super.jpg" alt="">
<!-- <img src="assets/images/fresh1.jpg" alt=""> -->
