<div class="order_container">
    <div class="card card_order">
        <div class="card-header header">
          <div class="d-flex">
            <h5> My Cart</h5>
            <form id="search" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search in receipt" id="inputSearch" aria-label="Search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
            </form>
          </div>
            <a routerLink="/categories/fruitsAndVagetables">Back to shop</a>
        </div>
        <div class="card-body products_container">
            <div *ngFor="let c of carts" class="card mb-3 product_cart" style="max-width: 540px;" >
                <div class="row no-gutters cart_style">
                  <div class="col-md-4">
                    <img src={{c.img}} class="card-img" alt="...">
                  </div>
                  <div class="col-md-8 d-flex ">
                    <div class="card-body details">
                      <h5 class="card-title" [innerHTML]="c.product_name | highlight: search"></h5>
                      <p class="card-text">quantity: {{c.amount}}</p>
                      <p  class="card-text">price:{{c.total_price}}$</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <h5>Total Price: {{totalPrice}}$</h5>
      </div>

      <div class="card card_order">
        <div class="card-header">
            <h5>Order</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group input_div">
                  <label for="city">City:</label> 
                  <select class="custom-select" id="city" (dblclick)="autoFill()" [(ngModel)]="order.city" [ngModelOptions]="{standalone: true}">
                    <option [value]="-1"  selected="selected">Select Your City</option>
                    <option *ngFor="let city of cities" [value]="city.cityId">{{city.city_name}}</option>
                  </select>
                  <span *ngIf="errors && errors.city">{{errors.city}}</span>
                </div> 
                <div class="form-group input_div">
                  <label for="street">Street:</label>
                  <input type="text" class="form-control" id="street" (dblclick)="autoFill()" [(ngModel)]="order.street" [ngModelOptions]="{standalone: true}">
                  <span *ngIf="errors && errors.street">{{errors.street}}</span>
                </div>
                <div class="form-group input_div">
                  <label for="date">Shipping date:</label>
                  <input type="date" class="form-control" id="date" (keyup)="onSelectDate()" (change)="onSelectDate()" [(ngModel)]="order.shipping_date" (dblclick)="autoFill()" [ngModelOptions]="{standalone: true}">
                  <span *ngIf="errors && errors.date">{{errors.date}}</span>
                </div>
                <div class="form-group input_div">
                  <label for="credit_card">Credit card:</label>
                  <input type="number" class="form-control" id="credit_card" (keyup)="validateCreditCardNumber()" [(ngModel)]="order.credit_card" (dblclick)="autoFill()" [ngModelOptions]="{standalone: true}">
                  <span *ngIf="errors && errors.credit_card">{{errors.credit_card}}</span>
                </div>
               
                <button type="submit" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="orderProducts()">Order</button>
              </form>
        </div>
      </div>
</div>



