.edit_container{
    border: 2px solid rgb(119, 119, 119);
    margin-left: 5px;
    padding: 10px;
    width: 300px;
    overflow-y: auto;
    border-radius: 5px;
}
 #btnEdit{
    background-color:rgb(119, 119, 119);
    border: 1px solid rgb(119, 119, 119);
}
#btnEdit:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(173, 173, 173);
}
#btnEdit:hover{
    background-color:rgb(173, 173, 173);
    border: 1px solid rgb(173, 173, 173);
}

input:focus, select:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(197, 197, 197);
}
span{
    color: red;
    font-weight: bold;
}